.table-wrap {
  padding: 0.75rem;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
  position: relative;
}

.table-no-records {
  padding: 2.5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.726);
}

.action-col {
  flex: 0 0 5rem;
}
